/* css reset*/
body, ul, li, h1, h2,a{
    margin: 0;
    padding: 0;
}



/*Target a Section*/
header{
    position: static;
    font-size: 10px;
    /*left: 100px;
    top: 100px; */
}


/*Target a Class*/
.banner{
    position: relative;
    top: 20px;
}


.banner img{
    max-width:100%;
}

.banner .welcome{
    position: absolute;
    left: 2%;
    top: 20%;
    background-color: whitesmoke;
    opacity: 0.8;
    padding: 5px;
}

.banner h2{
    font-size: 1.4em;
}

.banner h2 span{
    font-size: 1.6em;
}

header{
    background-color:rgb(47, 255, 231);
    padding:2px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: black;
    border:8px solid black;
    padding: 6px 12px;
    display: inline-block;
    border-radius:36px;
}


nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 50px;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    /*0 top and bottom and auto left and right*/
}

nav li{
    width:25%;
    display: inline-block;
    font-size: 1.0em;
}

nav a{
    text-decoration: none;
    color: #4b4b4b;
}

nav li a.join{
    color: black;
    font-weight: bold;
}


main{
    max-width: 100%;
    width:1200px;

}

article {
    padding: 0 auto;
}

ul img{
    max-width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}

.images li{
    display: inline-block;
    width:40%
}


section.join {
    background: #f4f4f4;
    text-align: center;
    color: #4b4b4b;
}

form input{
    margin: 20px 0;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 36px;
    border: 4px solid white;
}

footer{
    text-align: center;
}



/*pseudo classes */
nav li a:hover{
    text-decoration: underline;
}

.images li:hover{
    position: relative;
    top: -4px;
}

form input:valid{
    border: green;
}


/*media queries */
@media screen and (max-width: 444px){
    .banner .welcome{
        font-size: 12px;
        left: 1%;
        top: 20%;
    }

    header h1{
        font-size: 10px;
        border:2px solid black;
        padding: 2px 8px;
        border-radius:16px;
    }

    .banner .welcome h2{
        font-size: 15px;
    }

    .images li{
        display: block;
        width:100%;
    }

    nav{
        padding:5px;
    }

    nav li{
        width:100%;
        display: block;
        font-size: 1.0em;
        padding: 1px 1px;
    }

    nav li:nth-last-child(3) {
        display: none;
    }

    nav{
        top: 20px;
    }

}



